/*
    Author: Silvia Preston
    Date: 4/9/2023
    Filename: style.css
*/

/*Reset CSS styles*/
body, header, footer, h1, div{
    margin: 0;
    padding: 0;
    border: 0;
}

/* Styles for all pages: body, img, header, nav, main */
body {
    background-color: #ccc;
}

h1, h2{
    color: #1d1c1c;    
    text-align: center;
}

a:link{
    color: #1d1c1c; 
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
}

a:visited{
    color:dimgray;
}

a:hover{
    color: #fff;
    background-color: darkgrey;
    border-radius: 8px;
}

/* Style rule for box sizing applies to all elements */
* {
    box-sizing: border-box;
}

/* Style rule for header */
header{
    top: 0;
    height: 150px;
}

/* Define the grid container */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Three equal columns */
    grid-gap: 20px; /* Add some space between grid items */
}
  
/* Define the grid items */
.grid-item {
    background-color: #ddd; /* Add a background color to the grid items */
    padding: 20px; /* Add some padding to the grid items */
    text-align: center; /* Center the content of the grid items */
}
  
/* Media query for smaller screens */
@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr; /* One column for smaller screens */
    }
}

/* Footer styles for all pages */
footer{
    width: 100%;
    height: 40px;
    bottom: 0;
    position: relative;
    text-align: center;
}

footer p {
    font-size: 0.75em;
    text-align: center;
    color: #1d1c1c;
    padding: 0 1em;    
}

footer p a {
    color: #1d1c1c;
    text-decoration: none;
}
