body {
    background-color: #ccc;
}

img{
    max-width: 100%;
    display: block;
}

header{
    width: 25%;
    float: left;
}

nav{
    width: 70%;
    float: right;
    margin: 5em 3em 0 0;
}

nav ul{
    list-style-type: none; /*no bullet on my list items*/
    margin: 0;
    text-align: right;
}

nav li{
    display: inline-block;
    font-size: 1.75em;
}

nav li a{
    display: block;
    color: #fff;
    text-align: center;
    padding: 0.5em 1em; /*top-bottom: 0.5 em, left-right: 1em */
    text-decoration: none; /*remove underline from link*/
}

main{
    clear: left;
}