/*
    Author: Silvia Preston
    Date: 2/8/2023
    Filename: style.css
*/

/*Reset CSS styles*/
body, header, nav, main, footer, h1, div, img, ul{
    margin: 0;
    padding: 0;
    border: 0;
}

/* Styles for all pages: body, img, header, nav, main */
body {
    background-color: #000;
}

img{
    max-width: 100%;
    display: block;
}

/* Style rules for mobile viewport */

/* Style rule for header */
header{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #000;
    height: 190px;
}

header img{
    margin: 0 auto;
}

/* style rules for navigation area */
nav{
    padding: 1%;
    margin-bottom: 1%;
}

nav ul{
    list-style-type: none; /*no bullet on my list items*/
    text-align: center;
}

nav li{
    font-size: 1.5em;
    font-family: "Francois One", sans-serif;
    border-top: 1px solid #ffffff;
}

nav li:first-child{
    border-top: none;
}

nav li a{
    display: block;
    color: #fff;
    padding: 0.5em 1em; /*top-bottom: 0.5 em, left-right: 1em */
    text-decoration: none; /*remove underline from link*/
}

/* Show mobile class, hide tablet-desktop class */
.mobile{
    display: block;
}

.tablet-desktop{
    display: none;
}

main{
    background-color: #fff;
    padding: 2%;
    font-size: 1.15em;
    font-family: "Roboto Slab", serif;
}

.tel-link{
    background-color: #404040;
    padding: 2%;
    margin: 0 auto;
    width: 80%;
    text-align: center;
    border-radius: 5px;    
}

.tel-link a{
    text-decoration: none;
    color: #666600;
}

.hours{
    margin-left: 10%;
}

/* action class applied to index.html */
.action{ 
    font-size: 1.35em;
    color: #666600;
    font-weight: bold;
}

/*About us page styles */
#weights, #cardio, #training{     
    margin: 0 2%;
}

.round{
    border-radius: 8px;
}

.external-link{
    color: #666600;
    font-weight: bold;
    text-decoration: none;
}

/* Contact page styles */
#contact .contact-email-link{
    color: #666600;
    text-decoration: none;
}

#contact a{
    color: #666600;
    text-decoration: none;
}

.map{
    border: 2px solid #000;
    width: 95%;
    height: 50%;
}

/* Footer styles for all pages */
footer p {
    font-size: 0.75em;
    text-align: center;
    color: #fff;
    padding: 0 1em;
}

footer p a {
    color: #fff;
    text-decoration: none;
}

/* Media Query for Tablet Viewport */
@media screen and (min-width: 630px){
    /* Tablet Viewport: Show tablet-desktop class, hide mobile class */
    .tablet-desktop{
        display: block;
    }

    .mobile{
        display: none;
    }

    /* Tablet Viewport: style rule for header */
    header{
        position: static;
        padding-bottom: 2%;
    }

    /* Tablet Viewport: Style rules for nav area */
    nav li{
        border-top: none;
        display: inline-block;
        border-right: 1px solid #fff;
    }

    nav li:last-child{
        border-right: none;
    }

    nav li a{
        padding: 0.1em 0.75em;
    }

    /* Tablet Viewport: Style rules for main content area */
    main ul{
        margin: 0 0 4% 10%;
    }

    #exercises{
        clear: left;
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
        background-color: #f2f2f2;
        padding: 1% 2%;
    }

    #exercises dt{
        font-weight: bold;
    }

    #exercises dd{
        padding: 0.5% 1% 2% 0;
    }

    .tel-num{
        font-size: 1.25em;
    }

    .map{
        width: 600px;
        height: 450px;
    }

} /* end tablet media query screen here */

/* Media query for Desktop Viewport */
@media screen and (min-width: 769px){
    /* Desktop Viewport: Style rule for header */
    header{
        width: 25%;
        float: left;
        padding-bottom: 0;
    }

    /* Desktop Viewport: Style rules for nav area */
    nav{
        float: right;
        width: 70%;
        margin: 4em 1em 0 0;
    }

    nav ul{
        text-align: right;
    }

    nav li{
        border: none;
    }

    nav li a{
        padding: 0.5em 1em;
    }

    /* Desktop Viewport: Style rules for main area */
    main{
        clear: left;
    }

}
