/*
Author: firstName lastName
File Name: styles.css
Date: 01/01/2020
*/

/* CSS Reset */
body, header, nav, main, footer, img, h1, h3, ul {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Style rules for body and images */
body {
    background-color: #f6eee4;
}

img {
    max-width: 100%;
    display: block;
}

/* Style rules for mobile viewport */

/*Style rules to show mobile class and hide tab-desk class */
.mobile{display: block;}

.tab-desk{display: none;}

/*Style rules for header area*/
.mobile h1,h3{
  padding: 2%;
  text-align: center;
}

.mobile h1{
  font-family: 'Emblema One', cursive;
}

.mobile h3{
  font-family: 'Lora', serif;
}

/* Style rules for navigation area */
nav {
    background-color: #2a1f14;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav li {
    display: block;
    font-size: 1.5em;
    font-family: Geneva, Arial, sans-serif;
    font-weight: bold;
    border-top: 0.5px solid #f6eee4;
}

nav li a {
    display: block;
    color: #f6eee4;
    padding: 0.5em 2em;
    text-decoration: none;
}

/* Style rules for main content */
main {
    padding: 2%;
    font-family: 'Lora', serif;
}

main p {
    font-size: 1.25em;
}

main h3 {
    padding-top: 2%;
}

main ul {
    list-style-type: square;
}

/* Style rules for class and id selectors */
.link {
    color: #4d3319;
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
}

.action {
    font-size: 1.75em;
    font-weight: bold;
    text-align: center;
}

.round {
  border-radius: 6px;
}

#info ul {
  margin-left: 10%;
}

#contact {
    text-align: center;
}

.tel-link{
  background-color: #2a1f14;
  padding: 2%;
  width: 80%;
  margin: 0 auto;
}

.tel-link a{
  color: #f6eee4;
  text-decoration: none;
  font-weight: bold;
}

/* Style rules for footer content */
footer {
    text-align: center;
    font-size: 0.85em;
    background-color: #2a1f14;
    color: #f6eee4;
    padding: 1% 0;
}

footer a {
    color: #f6eee4;
    text-decoration: none;
}
